@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #3d3e3e;
}

::-webkit-scrollbar-thumb {
  background: #94b3b3;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0e762;
}

html {
  background-color: #3b3b3b;
}

body {
  margin: 0px auto;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  background-image: url(asset/bodyback2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  backdrop-filter: blur(3px);
}

.FirstPage {
  text-align: center;
  height: 120vh;
}
.FirstPage > h1 {
  font-size: 100px;
  color: #a2e2e2;
  line-height: 100vh;
  margin: 0;
}

.SecondPage > p {
  margin-left: 15%;
  margin-right: 15%;
  color: #b7cece;
  font-size: 30pt;
  margin-bottom: 2%;
}

.FourthPage {
  height: 100vh;
  display: flex;
  width: 95%;
  justify-content: center;
  margin: 100px auto;
  flex-wrap: wrap;
}

.FourthPage > div {
  margin-right: 45px;
  cursor: pointer;
  margin-top: 30px;
}
.FourthPage > div > img {
  opacity: 1;
  border-radius: 15px;
}

.FourthPage > div > img:hover {
  opacity: 0.8;
}
.popPage1,
.popPage2,
.popPage3,
.popPage4,
.popPage5,
.popPage6 {
  background-image: url(asset/bkg.png);
  background-blend-mode: saturation;
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background-color: #778d8de3;
  visibility: hidden;
  justify-content: center;
  overflow: auto;
}

.popPage1,
.popPage2,
.popPage3,
.popPage4,
.popPage5,
.popPage6,
.popPage7 > p {
  text-align: center;
  font-weight: bolder;
  color: #edfeff;
  text-shadow: 5px 5px 5px #292929;
}

/* .popPage1,
.popPage2,
.popPage3,
.popPage4,
.popPage5,
.popPage6,
.popPage7 > img {
  opacity: 0.6;
} */

iframe {
  border-width: 0;
  border-radius: 20px;
  border-style: none;
  border-color: none;
  border-image: none;
  padding: 0%;
  margin: 0%;
  box-shadow: none;
  text-shadow: none;
}
.Hmap {
  height: 100vh;
  width: 75vw;
  margin-left: 11vw;
  margin-right: 14vw;
}

.text-holder {
  backdrop-filter: none;
}

.graphic {
  position: sticky;
  top: 15%;
  left: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: none;
}
.graphic > img {
  border-radius: 20px;
  opacity: 1;
  box-shadow: 10px 10px 10px rgb(71, 71, 71);
}

p {
  font-size: 24px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrolly {
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
}
section {
  flex-basis: 50%;
}
.scroll-step {
  height: 500px;
  margin-left: 50px;
}
.scroll-step > img {
  width: 650px;
  opacity: 0.93;
  border-radius: 15px;
  box-shadow: 10px 10px 15px #3b3b3b;
}

.scroll-step > p {
  text-shadow: none;
  margin-bottom: 15px;
}

.intro {
  height: 100%;
  font-size: 80px;
}

.end {
  height: 80%;
}

.MyButton {
  background-color: #4d4d4d;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 11px 19px;
  text-decoration: none;
  text-shadow: 0px 0px;
  margin-top: 200px;
}
.MyButton:hover {
  background-color: #f9e31a;
  color: black;
}
.MyButton:active {
  position: relative;
  top: 1px;
}

.ThirdPage {
  width: 95vw;
  height: 100vh;
}
.ThirdPage > div {
  float: right;
  width: 45%;
  height: 800px;
  margin: 0px;
  padding-right: 2%;
}

.ThirdPage > div > p {
  font-size: 80px;
  color: #b7cece;
  margin-top: 100px;
}

.FifthPage {
  height: 90vh;
  margin-top: 200px;
}

.FifthPage > p {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  font-size: 50px;
  color: #b7cece;
}

.SixPage {
  height: 100vh;
}

.SixPage > div {
  float: right;
  width: 30%;
  height: 800px;
  margin: 0px;
  padding-right: 3.3%;
}

.window {
  position: relative;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  background-color: #444444;
  overflow: auto;
  justify-content: right;
  margin-left: 5%;
}

.SixPage > div > p {
  font-size: 100px;
  color: #b7cece;
  position: relative;
  top: 10%;
  margin-left: 10%;
}

.btnDown {
  /* background-color: #4d4d4d;
  border-radius: 2px; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  /* font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 11px 19px;
  text-decoration: none; */
  position: relative;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 55%;
}

.btnUp {
  /* background-color: #4d4d4d;
  border-radius: 2px; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  /* font-family: Arial; */
  /* font-size: 20px; */
  /* font-weight: bold; */
  /* padding: 11px 19px; */
  /* text-decoration: none; */
  position: relative;
  transform: translate(-50%, -50%);
  top: 19%;
  left: 55%;
}

.ending {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #1f1f1fc5;
  float: inline-end;
}

.ending > div {
  width: 60%;
  justify-content: left;
  margin: 0 auto;
}

.ending > div > a {
  text-decoration: none;
  font-size: 25px;
  text-align: left;
  display: unset;
  color: whitesmoke;
  position: relative;
  top: 20px;
}
