h1 {
  font-size: 30px;
}

h2 {
  height: 70px;
  font-size: 30px;
  background-color: rgb(240, 203, 220);
  line-height: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 15px;
  box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.25);
}
h3 {
  font-size: 30px;
  color: red;
}

p {
  font-size: 20px;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  width: 70%;
  margin: 50px auto;
  font-size: 60px;
}

.flex-container {
  display: flex;
  width: 70%;
  justify-content: left;
  margin: 50px auto;
  flex-wrap: wrap;
}
.flex-container > div {
  margin-right: 45px;
  margin-bottom: 45px;
  box-shadow: 0px 6px 2px -1px rgba(0, 0, 0, 0.09);
  border-radius: 25px;
  width: 250px;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}
.Num1 {
  border: 2px solid black;
  padding-top: 25px;
  text-shadow: -2px 2px 3px #c2c2c2;
}
.Num2 {
  border: 2px solid black;
  padding-top: 25px;
  background-color: black;
  color: white;
}
.Num3 {
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 20px;
}
.Num4 {
  border: 2px solid blue;
  padding-top: 25px;
  text-shadow: -2px 2px 3px #c2c2c2;
}
