body {
  background-image: url(/assets/infiniteR.png);
}

.container {
  width: 152px;
  margin: 0 auto;
}

.loader {
  margin-top: calc(50vh - 76px);
  border: 16px solid #2e2e2e;
  border-radius: 50%;
  border-top: 16px solid #ffffff86;
  border-right: 16px solid #ffffff86;
  border-bottom: 16px solid #ffffff86;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

button {
  border: none;
  height: 30px;
  margin: 3vh 51px;
  background-color: rgba(0, 0, 0, 0.397);
  color: aqua;
}

button:hover {
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
}
